<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://tyjythspixwispmklpcm.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR5anl0aHNwaXh3aXNwbWtscGNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4NjYxODMsImV4cCI6MjA4ODQ0MjE4M30.wLh5Wmpx1dUQvOiTDjlVaB63UqWsilresMb0Izelic8</string>
	<key>SUPABASE_SCHEMA</key>
	<string>public</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>TabbarMain</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
